<ion-header>
    <ion-navbar color="adlicmain">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center><span class="title">{{ 'CONTACTUS' | translate }}</span></ion-title>
    </ion-navbar>
</ion-header>




<ion-content padding>
    <ion-item class="titleInput" no-lines>
        {{ 'TITLE' | translate }}
    </ion-item>
    <ion-item no-lines>
        <ion-input class="textarea-border" type="text"></ion-input>
    </ion-item>
    <ion-item class="titleInput" no-lines>
        {{ 'FEEDBACK' | translate }}
    </ion-item>
    <ion-item no-lines>
        <ion-textarea class="textarea-border" rows="10"></ion-textarea>
    </ion-item>
    <ion-grid no-lines>
        <ion-row no-lines>

            <ion-col text-center>
                <div>

                    <div>
                        <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'SEND' | translate }}</ion-label> 
                <ion-icon ios="md-arrow-forward" md="md-arrow-forward" icon-end></ion-icon>
                </button>
                    </div>

                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>