page-contactus {
    ion-thumbnail img {
        border-radius: 50% !important;
        width: 128px !important;
        height: 128px !important;
    }
    .textAreaStyle {
        border: 1px solid #ccc;
        height: 100px;
    }
    .textarea-border {
        border: 1px solid #cfcfcf !important;
    }
    .titleInput {
        height: 25px;
        color: #8e8c8c;
    }
}