<!--
  Generated template for the DeletePopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="reason-width background-page">


<ion-row>
  <ion-col text-center>
    <ion-icon class="main-icon" color="adlic" name="md-warning"></ion-icon>
  </ion-col>
</ion-row>
<div padding>
  Are you sure you want to delete service 2?
</div>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col class="right-space" no-padding><button ion-button full color="light" (click)="close()" no-margin>
      <ion-label text-center>{{ 'BACK' | translate }}</ion-label></button></ion-col>
      <ion-col no-padding><button ion-button full color="light" (click)="close()" no-margin>
      <ion-label text-center>{{ 'DELETE' | translate }}</ion-label></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
