page-delete-popup {
  .background-page{
    background: #161e00 !important;
    color: #ccc;
    font-size: 16px;
    line-height: 22px;
  }
  .reason-width {
    width: 263px;
  }
  .main-icon {
    font-size: 61px;
    padding: 20px 0 0 0;
    color: #b8eb00;
  }

  .reason-tarea {
      border: 1px solid #ccc;
      height: 100px;
      padding-left: 10px;
  }
   textarea.text-input {
    min-height: 80px;
  }
  .right-space {
    border-right: 1px solid #fff;
  }
  .reason-rating-p {
    margin: 0px;
    padding: 0 0 6px 0;
  }
}
