<!--
  Generated template for the ContentAdsCopyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="adlicmain">
      <ion-buttons start>
          <button ion-button icon-only (click)="openMenu()">
              <ion-icon name="menu" icon-right></ion-icon>
          </button>
      </ion-buttons>
        <ion-title text-center><span class="title">{{ 'Payment' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <ion-grid no-padding>
        <ion-row class="card-box-style">
          <ion-col>
            <ion-label class="name-color">Card holder name</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="card-box-style">
          <ion-col>
            <ion-label class="name-color">Card number</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-grid>
         <ion-row>
            <ion-col col-4 class="label-style"><label class="name-color">{{ 'Card Type' | translate }}</label></ion-col>
            <ion-col col-8 border no-padding>
              <ion-input class="card-input-area" type="text" value=""></ion-input>
              <button class="field-icon" ion-button clear color="dark" type="button" item-right > <ion-icon ios="ios-card" md="md-card"> </ion-icon> </button>

              </ion-col>
        </ion-row>
        <br>
        <ion-row class="date-picker-field">
           <ion-col col-4 class="label-style"><label class="name-color">{{ 'Expiry Date' | translate }}</label></ion-col>
           <ion-col col-8 border border no-padding><ion-datetime displayFormat="MMMM YYYY" min="2016" max="2020-10-31" [(ngModel)]="myDate">
    </ion-datetime>
    <ion-icon class="cal-icon" name="ios-calendar-outline"> </ion-icon>

  </ion-col>
       </ion-row>
     </ion-grid>
<br>
<br>
   <div style="background: #e6faac; padding: 6px;">
     <ion-row>
       <ion-col col-1>
         <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
       </ion-col>
       <ion-col col-11>
         <span> You can cancel your request 5 hours before from starting time</span>
       </ion-col>
     </ion-row>
   </div>
<br>
  <!-- <button ion-button icon-end item-end full color="AuthButton"> {{ 'SUBMIT' | translate }}
      <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" ></ion-icon>
  </button> -->
  <button ion-button block color="AuthButton">
  <ion-label text-center>{{ 'SUBMIT' | translate }}</ion-label>
  <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" icon-end></ion-icon>
  </button>
</ion-content>
