page-content-ads-copy {
  .date-time-border {
    border: 1px solid #ccc;
  }
 //  .datetime {
 //    padding: 0px 0px 6px 0px !important;
 // }
 .col {
   position: relative;
   .field-icon {
     position: absolute;
     right: -11px;
     top: -13px;
     font-size: 20px;
   }
 }
.card-box-style {
  ion-input {
    border: 1px solid #ccc;
  }
}
.card-input-area {
  margin-left: 16px !important;
}
.name-color {
  color: #ccc;
}
.date-picker-field {

  .cal-icon {
    z-index: 0;
    font-size: 24px;
    float: right;
    margin: -32px 10px 0 0px;
  }
}

// font-size: 22px;
//     top: -15px;
//     right: -15px;



     .title {
         color: #f4f4f4;
     }
     .item-custom-border {
         border-bottom: 1px solid !important;
     }
     .textarea-border {
         border: 1px solid #cfcfcf !important;
     }
     .item-withoutlines {
         border-bottom: transparent !important;
     }
     .clearPadding_1 {
         padding-right: 0px !important;
     }
     .clearPadding_2 {
         padding-left: 0px !important;
     }
 }

 .item-input-has-focus {
     border-bottom: transparent !important;
 }
