<ion-header>
    <ion-navbar color="adlicmain">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center><span class="title">{{ 'INFLUENCERPROFILE' | translate }}</span></ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div padding-top class="page-background">
        <ion-list no-lines>
            <ion-item id="profile-bg">
                <ion-thumbnail item-start>
                    <img class="rounded-image" src="https://ioniccomponents.yannbraga.com/assets/img/avatar/girl-avatar.png" />
                </ion-thumbnail>
                <h2>انس جابر</h2>
                <rating readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
                    color="adlicgreen">
                </rating>
                <p (click)="goToReviews()">
                    4 {{ 'REVIEWS' | translate }} &nbsp;
                    <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                </p>
            </ion-item>
        </ion-list>
    </div>
    <div class="group-list">
        <div class="list">
            <div class="item item-divider" ion-affix="" data-affix-within-parent-with-class="group-list">
                {{ 'ABOUTME' | translate }}
            </div>
            <div class="card" ng-repeat="item in items">
                <div class="item item-text-wrap">
                    Description Description Description Description Description Description Description Description
                </div>
            </div>
        </div>
        <div class="list">
            <ion-grid class="grid">
                <ion-row class="row">
                    <ion-col class="col">
                        <div class="small-title">
                            <ion-icon name="logo-snapchat"></ion-icon> &nbsp; {{ 'SNAPUSER' | translate }}</div>
                    </ion-col>
                    <ion-col class="col">
                        <div class="small-title">
                            <ion-icon name="ios-glasses-outline"></ion-icon> &nbsp; {{ 'VIEWERS' | translate }}</div>
                    </ion-col>
                </ion-row>
                <ion-row class="row">
                    <ion-col class="col small-data">
                        nbdc
                    </ion-col>
                    <ion-col class="col small-data">
                        100K
                    </ion-col>
                </ion-row>
                <ion-row class="row">
                    <ion-col class="col">
                        <div class="small-title">
                            <ion-icon name="ios-people-outline"></ion-icon>&nbsp; {{ 'AUDIENCEINTEREST' | translate }}</div>
                    </ion-col>
                </ion-row>
                <ion-row class="row">
                    <ion-col class="col small-data">
                        رياضة، فن، طعام
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="list">
            <div class="item item-divider" ion-affix="" data-affix-within-parent-with-class="group-list">
                {{ 'SERVICES' | translate }}
            </div>
            <div class="card" ng-repeat="item in items">
                <div class="item item-text-wrap">
                    <ion-grid class="grid">
                        <ion-row class="row">
                            <ion-col class="col small-data">
                                {{ 'SERVICETITLE1' | translate }}
                            </ion-col>
                        </ion-row>
                        <div class="item item-text-wrap">
                            Description Description Description Description Description Description Description Description
                        </div>
                        <ion-row class="row">
                            <ion-col class="col small-data-title" padding>
                                {{ 'PRICE' | translate }}
                            </ion-col>
                            <ion-col class="col small-data" padding>
                                123 {{ 'SR' | translate }}
                            </ion-col>
                            <ion-col class="col">
                                <button ion-button color="adlicblack" (click)="showConfirm()">
                                    <ion-icon name="md-add"></ion-icon> &nbsp; {{ 'ADD' | translate }}
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <hr />
                    <ion-grid class="grid">
                        <ion-row class="row">
                            <ion-col class="col small-data">
                                {{ 'SERVICETITLE1' | translate }}
                            </ion-col>
                        </ion-row>
                        <div class="item item-text-wrap">
                            Description Description Description Description Description Description Description Description
                        </div>
                        <ion-row class="row">
                            <ion-col class="col small-data-title" padding>
                                {{ 'PRICE' | translate }}
                            </ion-col>
                            <ion-col class="col small-data" padding>
                                123 {{ 'SR' | translate }}
                            </ion-col>
                            <ion-col class="col">
                                <button ion-button color="adlicblack" (click)="showConfirm()">
                                    <ion-icon name="md-add"></ion-icon> &nbsp; {{ 'ADD' | translate }}
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>
</ion-content>