page-influencers-profile {
 ion-thumbnail img {
        border-radius: 50% !important;
        width: 128px !important;
        height: 128px !important;
    }

    .title
{
   color: #f4f4f4;
}
h2{
color: #f4f4f4 !important;
}
p{
    color: #f4f4f4 !important;
}

 ul {
        padding: 0px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: $adlicgreen;
            ion-icon {
                font-size: 30px;
            }
        }
    }

    .small-title
    {
        font-size:16px;
        border-bottom: 1px solid;
    }
    .small-data
    {
        font-size:18px;
        color: $adlicgreen;
    }

    .small-data-title
    {
        font-size:18px;
    }

#profile-bg {
    border-bottom:5px solid $adlicgreen !important;
    background-color: #242711;
  }

    .page-background {
         background-color: #242711;
    }
    #profile-info {
        background-color: #242711 !important;
        padding-top: 15px !important;
    }
    #profile-name {
        color: #444;
        font-size: 26px;
    }
    #profile-description {
        font-size: 15px;
        color: #888;
    }
    #profile-description a {
        color: #888;
    }
    #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    }
    .list-item-content {
        padding: 5px;
    }
    .list-item {
        color: #666666;
    }
    .post {
        color: #444;
    }
    .post-time {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 11px;
        color: #888;
    }
    .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    .post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
    }
   
    .tabs {
        top: 43px;
    }
    .has-header {
        top: 94px !important;
    }
    .bar.bar-header h1.title {
        font-family: 'LoveMe-Regular', sans-serif;
        font-size: 26px
    }
    .item.item-divider {
        font-family: 'LoveMe-Regular', sans-serif;
        font-size: 20px
    }
    .item {
        padding: 10px;
    }
    .item,
    .item p {
        text-overflow: initial !important;
        white-space: initial !important;
    }
    .pane,
    .scroll {
        background: transparent !important;
    }
    .s10 {
        height: 10px;
    }
    .list-md {
        margin-bottom: 16px !important;
    }
    .item-divider {
        padding-top: 2px;
        padding-bottom: 2px;
        min-height: 30px;
        color: #222;
        font-weight: 500;
    }
    .card {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .card,
    .list-inset {
        overflow: hidden;
        /* margin: 20px 10px; */
        border-radius: 2px;
        background-color: #fff;
    }
}