<ion-header>
    <ion-navbar color="adlicmain">
        <ion-buttons start>
            <button ion-button icon-only (click)="openMenu()">
                <ion-icon name="menu" icon-right></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center><span class="title">{{ 'ADLICINFLUENCERTEXT' | translate }}</span> </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()">
                <ion-icon ios="ios-search" md="ios-search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="addItem()">
                <ion-icon ios="ios-list-box-outline" md="ios-list-box-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngFor="let item of currentItems">
        <ion-card (click)="openInfluencerProfile()">
            <ion-item>
                <ion-thumbnail item-start>
                    <img class="rounded-image" [src]="item.profilePic" />
                </ion-thumbnail>
                <h2>{{item.name}}</h2>
                <p>
                    {{ 'ABOUTINFLUENCER' | translate }} {{item.about}}
                </p>
                <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
                <rating [(ngModel)]="item.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                    nullable="false" color="adlicgreen">
                </rating>
            </ion-item>
        </ion-card>
    </div>
    <ion-fab right bottom>
        <button ion-fab color="adlicblack" (click)="openDesignCriteria()">
        <ion-icon ios="md-funnel" md="md-funnel"></ion-icon></button>
    </ion-fab>

</ion-content>