page-login {
    $transparent-white: rgba(255, 255, 255, .6);
    // This is just to make the header transparent and button/icon with white color
    // .toolbar-content,
    // span {
    //     //color: white;
    // }
    .toolbar-background,
    ion-navbar,
    ion-header {
        background: transparent !important;
        background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    // Footer
    ion-footer {
        height: 47px;
    }
    .footer {
        text-align: center;
        min-height: 47px;
    }
    .footer-md::before {
        border-top: 1px solid $transparent-white;
        background-image: none;
    }
    .logo {
        width: 40%;
        height: auto;
        margin: 0 auto;
        padding-top: 10px;
    }
    .login-button {
        text-transform: none;
        border-radius: 3px !important;
    }
    // HR with text in the middle effect
    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
    .strike>span {
        position: relative;
        display: inline-block;
        font-weight: bold;
    }
    .strike>span:before,
    .strike>span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        //  background: $transparent-white;
    }
    .strike>span:before {
        right: 100%;
        margin-right: 15px;
    }
    .strike>span:after {
        left: 100%;
        margin-left: 15px;
    }
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
        border-style: none;
    }
    .padding-50 {
        padding-top: 50px;
    }
    .padding-10 {
        padding-top: 10px;
    }
    .padding-30 {
        padding: 30px;
    }
    .padding-20 {
        padding: 20px;
    }
    .forgetPassword {
        color: #b6b6b6;
    }
    .visitorButton {
        border-color: #b7b7b7;
        color: #242711;
    }
    .custom-dark {
        background-color: #FBFBFB !important;
    }
    .imgLogo {
        width: 50%;
        height: 20%;
    }

   
    #registerAsInfluencer .item-inner
{
    box-shadow: inset 0 0px 0 0 transparent !important;
    border-color: transparent !important;
}

}
