<ion-header padding class="custom-dark">
    <ion-navbar text-center>
        <img src="assets/img/logo/Logo.png" class="imgLogo" />
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="custom-dark">
        <ion-segment [(ngModel)]="AuthTab">
            <ion-segment-button value="loginTab">
                {{ 'LOGIN' | translate }}
            </ion-segment-button>
            <ion-segment-button value="RegTab">
                {{ 'REGISTERHERE' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>
    <div class="padding-20"></div>
    <div [ngSwitch]="AuthTab">
        <ion-list *ngSwitchCase="'loginTab'">
            <ion-item padding>
                <ion-input type="number" placeholder="{{ 'MOBILENUMBER' | translate }}"></ion-input>
            </ion-item>
            <ion-item padding>
                <ion-input type="password" color="adlicgreen" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
            </ion-item>

            <div padding>
                <button ion-button block color="AuthButton" (click)="login()">
                <ion-label text-center>{{ 'LOGIN' | translate }}</ion-label>
                <ion-icon ios="md-arrow-forward" md="md-arrow-forward" icon-end></ion-icon>
                </button>
            </div>


            <div text-center (click)="goToForgetPassword()" padding>
                <span>{{ 'ISFORGETPASSWORD' | translate }}</span> &nbsp;
                <ion-icon name="information-circle" md="ios-information-circle-outline" ios="ios-information-circle-outline"></ion-icon>
            </div>

            <div padding>
                <button ion-button block outline color="dark" (click)="loginAsVisitor()">
                <ion-label text-center>{{ 'VISITOR' | translate }}</ion-label>
                <ion-icon ios="ios-man" md="ios-man" icon-end></ion-icon>
                </button>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'RegTab'">
            <ion-item padding id="registerAsInfluencer">
                <ion-label>{{ 'REGISTERASINFLUENCER' | translate }}</ion-label>
                <ion-checkbox checkbox-royal></ion-checkbox>
            </ion-item>
            <ion-item padding>
                <ion-input type="text" placeholder="{{ 'FIRSTNAME' | translate }}"></ion-input>
            </ion-item>
            <ion-item padding>
                <ion-input type="number" placeholder="{{ 'MOBILENUMBER' | translate }}"></ion-input>
            </ion-item>
            <ion-item padding>
                <ion-input type="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
            </ion-item>
             <ion-item padding>
                <ion-input type="password" placeholder="{{ 'RETYPEPASSWORD' | translate }}"></ion-input>
            </ion-item>
            <div padding>
                <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'SIGNUP' | translate }}</ion-label>
                <ion-icon ios="md-arrow-forward" md="md-arrow-forward" icon-end></ion-icon>
                </button>
            </div>
        </ion-list>
    </div>
</ion-content>
<!--<ion-footer>
    <ion-toolbar class="footer">
        <div (click)="goToSignup()">
            <span>{{ 'ISHAVEADLICACCOUNT' | translate }} <strong>{{ 'REGISTERHERE' | translate }}</strong></span>
        </div>
    </ion-toolbar>
</ion-footer>-->