design-criteria {
  .gender-field {
    .list {
      padding-top: 7px;
      ion-label {
        text-align: right;
        padding: 0 6px;
      }
    }

  }
    h6{
        color: $adlicwhite;
    }
    .item-block
    {
        background-color: #1E2206;
        border-bottom: none !important;
        .item-inner {
          border-bottom: 0 none !important;
          color: #fff;
          font-size: 14px;
        }
    }
        .background-page{
background: linear-gradient(to bottom,  #1E2206 0%, #1E2206 100%);
    }
    ion-thumbnail img {
        border-radius: 50% !important;
    }

    ul {
        padding: 0px;

        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: $adlicgreen;

            ion-icon {
                font-size: 50px;
            }
        }
        &.rating > ion-label
        {
            margin: 0px !important;
        }
    }

    .checkbox-label {
        display: inline !important;
    }
    .info-label {
        font-size: 14px !important;
    }

    .numofview-color
    {
        color: $adlicwhite;
    }








    .ion-tags-input {
      border-bottom: 0 none;
      padding: 10px 0;
    }
    ion-tags-input .ion-tags-input .iti-input {
      border: 1px solid #000;
      color: #000;
      background: #C2E21E;
      height: 26px;
      font-size: 14px;
      padding: 0px 0 0px 10px;
    }
    ion-tags-input .ion-tags-input .iti-input::placeholder {
      color: #000;
    }
    ion-tags-input .ion-tags-input .iti-tag {
      border-radius: 0px !important;
      background: #FFF;
      color: #000;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    ion-tags-input .ion-tags-input a.iti-tag-rm::before {
      color: #000;
    }
    .numbers {
      .text-input {
        margin: 0px;
        border: 1px solid #c2e21e;
        padding: 11px;
        color: #fff;
        width: 100%;
      }
      .button {
        height: 1.6em;
        background: transparent;
        color: #c2e21e;
        border-radius: 0px;
        border: 1px solid #c2e21e;
        ion-icon.icon {
          padding: 0 0.2em;
        }
      }
    }

    ion-radio.radio {
      margin: 0px !important;
      border: 1px solid #ccc;
    }
    ion-item.item-radio {
      border: 0 none !important;
      .item-inner {
        border: 0 none !important;
      }
      .radio-ios .radio-checked .radio-inner {
        border-color: #141414;
      }
      ion-label.label {
        color: #fff !important;
        font-weight: normal;
        font-size: 14px;
        padding-left: 12px;
      }
    }
    ion-radio .radio-icon {
    width: 22px !important;
    }
    ion-radio .radio-icon.radio-checked {
      background: #C2E21E;
      z-index: 10000;
      opacity: 1;
      height: 22px;
    }

    .checkbox .checkbox-checked {
    border-color: #e0e0e0;
    background-color: #C2E21E;
    }
    .label-style {
      white-space: normal;
      color: #fff;
      position: relative;
      overflow: hidden;
    }
    .right-line:after {
        position: absolute;
        top: 50%;
        overflow: hidden;
        width: 50%;
        height: 1px;
        content: '\a0';
        background-color: rgba(255, 255, 255, 0.08);
        margin-left: 5px;
    }
    .redesign-style {
      padding: 11px;
      margin-top: -28px;
      color: #fff;
      font-size: 11px;
    }

  .border-bottom-style {
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      margin: 0 10px;
  }
  .checkbox-ios .checkbox-icon {
    border-radius: 0px !important;
  }
  .save-color{
    color: white;
  }
  ul {
      margin-top: 0px;
  }
  .padding-label {
    padding: 0px 8px;
  }


  .ion-tags-input {
    border-bottom: 0 none;
    padding: 10px 0;
  }
  .ion-tags-input .iti-input {
    width: 60px;
    height: 26px;
    font-size: 14px;
    padding: 0px 0px 0px 5px;
    float: left;
    margin: 0 4px 0 0;
  }
  .ion-tags-input .iti-input::placeholder {
    color: #000;
  }
  .ion-tags-input {
    .add-button {
      width: 26px;
      height: 26px;
      display: inline;
      border-radius: 0;
      border: 1px solid #000;
      font-size: 10px;
      color: #000;
    }
  }
  .ion-tags-input .iti-tag {
    border-radius: 0px !important;
    background: #FFF;
    color: #333;
    border: 1px solid #ccc;
    font-size: 14px;
    display: block;
      float: left;
      font-family: sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 4px 10px;
      max-height: 30px;
  }
  .ion-tags-input a.iti-tag-rm::before {
      content: " x";
      cursor: pointer;
      font-weight: bold;
      color: #000;
  }

.right-padding {
  padding: 10px 5px;
}


}
