<ion-header>
    <ion-navbar color="adlicmain">
        <ion-searchbar animated autocomplete="on" placeholder="{{ 'TYPEKEYWORDSHERE' | translate }}">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content  class="background-page">

  <ion-grid>
    <ion-row>
      <ion-col col-4><ion-label class="label-style right-padding">{{ 'INTERESTFIELD' | translate }}</ion-label></ion-col>
      <ion-col col-8>
        <div no-border="" ng-reflect-placeholder="+ Add Tag" ng-reflect-model="" class="ng-untouched ng-pristine ng-valid">
    <div class="ion-tags-input tit-border-color">
      <div class="iti-tags-wrap">
        <span class="iti-tag iti-tag-color  iti-tag-ios" *ngFor="let tag of tags; let i = index;">
          {{tag}}
          <a class="iti-tag-rm" (click)="removeTag(i)"></a>
       </span>
       <input *ngIf="add" id="tag-input" class="iti-input" [(ngModel)]="newTag" type="text" (keypress)="addTag($event)">
       <button (click)="enableInput()" class="add-button" color="adlicgreen" ion-button icon-only>
         <ion-icon name="md-add"></ion-icon>
       </button>
      </div>
    </div>
  </div>
      </ion-col>
    </ion-row>
    </ion-grid>

  <ion-grid>
    <ion-row>
    <ion-col><ion-label class="label-style right-line padding-label">{{ 'MINIMUMINFLUENCERRATING' | translate }}</ion-label></ion-col>
    </ion-row>
    <ion-row class="border-bottom-style">
    <ion-col>
    <rating readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" color="adlicgreen" text-center>
    </rating>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="border-bottom-style">
    <ion-col col-4><ion-label class="label-style">{{ 'NUMBEROFVIEWS' | translate }}</ion-label></ion-col>
    <ion-col col-8>
    <ion-row class="numbers">
    <ion-col col-3 text-right>
    <button ion-button icon-only>
    <ion-icon name="remove"></ion-icon>
    </button>
    </ion-col>
    <ion-col col-6 text-center no-padding>
    <ion-input type="text"></ion-input>
    </ion-col>
    <ion-col col-3 text-left>
    <button ion-button icon-only>
    <ion-icon name="add"></ion-icon>
    </button>
    </ion-col>
    </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row class="border-bottom-style">
      <ion-col col-4><ion-label class="label-style">{{ 'INFLUENCER_GENDER' | translate }}</ion-label></ion-col>
      <ion-col col-8 no-padding class="gender-field">
      <ion-list radio-group class="row" no-margin>
      <ion-item class="col" col-6 no-padding>
      <ion-label no-margin>{{ 'MALE' | translate }}</ion-label>
      <ion-checkbox checked="true" value="male" item-right></ion-checkbox>
      </ion-item>
      <ion-item class="col" col-6 no-padding>
      <ion-label no-margin>{{ 'FEMALE' | translate }}</ion-label>
      <ion-checkbox value="female" item-right></ion-checkbox>
      </ion-item>
      </ion-list>
      </ion-col>
      </ion-row>
  </ion-grid>


  <ion-item padding no-border>
    <ion-label class="save-color">{{ 'SAVESEARCH' | translate }}</ion-label>
    <ion-checkbox checked="false"></ion-checkbox>
  </ion-item>
  <div class="redesign-style">
    <ion-row>
    <ion-col col-1>
    <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
    </ion-col>
    <ion-col col-11>
    <span>That will redesign your home page with your most interests for better experience</span>
    </ion-col>
    </ion-row>
  </div>
  <div padding>
    <button ion-button block color="AuthButton">
    <ion-label text-center >{{ 'APPLY' | translate }}</ion-label>
    <ion-icon name="ios-checkmark-circle-outline" icon-end></ion-icon>
    </button>
  </div>

    <!-- <ion-list no-lines>
        <div padding-top padding-right padding-left>
            <h6 color="swhite">{{ 'MINIMUMINFLUENCERRATING' | translate }}</h6>
        </div>
        <ion-item>
            <rating readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
                color="adlicgreen" text-center>
            </rating>
        </ion-item>
        <ion-item padding>
            <ion-label color="swhite">{{ 'NUMBEROFVIEWERS' | translate }}</ion-label>
            <ion-input type="number" color="swhite" class="numofview-color"></ion-input>
        </ion-item>
        <div padding>
            <ion-row>
                <ion-col width-20>
                    <ion-label color="swhite" class="checkbox-label">{{ 'INFLUENCERGENDER' | translate }}</ion-label>
                </ion-col>
                <ion-col width-40>
                    <div>
                        <ion-checkbox checked="false"></ion-checkbox>
                        <ion-label color="swhite" class="checkbox-label">&nbsp; {{ 'MALE' | translate }} &nbsp;</ion-label>
                    </div>
                </ion-col>
                <ion-col width-40>
                    <div>
                        <ion-checkbox checked="false"></ion-checkbox>
                        <ion-label color="swhite" class="checkbox-label">&nbsp; {{ 'FEMALE' | translate }} &nbsp;</ion-label>
                    </div>
                </ion-col>
            </ion-row>

        </div>
        <ion-item padding>
            <ion-label color="swhite">{{ 'SAVESEARCH' | translate }}</ion-label>
            <ion-checkbox checked="false"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label color="swhite" text-wrap class="info-label"> <ion-icon name="ios-information-circle-outline" icon-end></ion-icon> &nbsp; {{ 'REDESIGNMESSAGE' | translate }}</ion-label>
        </ion-item>
        <div padding>
            <button ion-button block color="AuthButton">
                <ion-label text-center >{{ 'APPLY' | translate }}</ion-label>
                <ion-icon name="ios-checkmark-circle-outline" icon-end></ion-icon>
            </button>
        </div>
    </ion-list> -->



</ion-content>
