<!--
  Generated template for the ManageCustomerOrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="adlicmain">
        <ion-buttons start>
            <button ion-button icon-only (click)="openMenu()">
                <ion-icon name="menu" icon-right></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center><span ion-text color="light" class="title">{{ 'INFLUENCER_NAME' | translate }}</span> </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="paper"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="order-cards">
  <ion-toolbar color="adlicmain">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      </ion-buttons>
      <ion-searchbar (input)="getItems($event)"></ion-searchbar>
      <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card class="card-style pending">
    <ion-card-content no-padding>
      <ion-row no-padding border-bottom class="status">
        <div class="tr">
        </div>
        <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-6><p text-right class="status-text">Pending</p></ion-col>
      </ion-row>
      <ion-row no-padding border-bottom>
        <ion-col><p><ion-icon name="contact" item-start></ion-icon> Customer Name</p></ion-col>
        <!-- <ion-col><p class="rtl-left" text-right>Details  <ion-icon name="ios-information-circle-outline" item-start class="custom-icon-right"></ion-icon> </p></ion-col> -->
      </ion-row>
      <ion-row no-padding class="white">
        <ion-col border-right><p>Chat<ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>update<ion-icon ios="ios-create-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col><p text-left>Cancel<ion-icon ios="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-style accepted">
    <ion-card-content no-padding>
      <ion-row no-padding border-bottom class="status">
        <div class="tr"></div>
        <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-6><p text-right class="status-text">Accepted</p></ion-col>
      </ion-row>
      <ion-row no-padding border-bottom>
        <ion-col col-6><p><ion-icon name="contact" item-start></ion-icon> Customer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="white">
        <ion-col border-right><p>Chat<ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>update<ion-icon ios="ios-create-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col><p text-left>Cancel<ion-icon ios="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-style started">
    <ion-card-content no-padding>
      <ion-row no-padding border-bottom class="status">
        <div class="tr"></div>
        <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-6><p text-right class="status-text">Started</p></ion-col>
      </ion-row>
      <ion-row no-padding border-bottom>
        <ion-col col-6><p><ion-icon name="contact" item-start></ion-icon> Customer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="white">
        <ion-col border-right><p>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>update<ion-icon ios="ios-create-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col><p text-left>Cancel<ion-icon ios="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-style done">
    <ion-card-content no-padding>
      <ion-row no-padding border-bottom class="status">
        <div class="tr"></div>
        <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-6><p text-right class="status-text">Done</p></ion-col>
      </ion-row>
      <ion-row no-padding border-bottom>
        <ion-col col-6><p><ion-icon name="contact" item-start></ion-icon> Customer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="white">
        <ion-col border-right><p>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>Result <ion-icon name="ios-list-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col><p text-left>Cancel<ion-icon ios="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-style rejected">
    <ion-card-content no-padding>
      <ion-row no-padding border-bottom class="status">
        <div class="tr"></div>
        <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-6><p text-right class="status-text">Rejected</p></ion-col>
      </ion-row>
      <ion-row no-padding border-bottom>
        <ion-col col-6><p><ion-icon name="contact" item-start></ion-icon> Customer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="white">
        <ion-col border-right><p>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p text-center>Reason<ion-icon ios="ios-help-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col><p text-left>Cancel<ion-icon ios="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card  class="card-style pending">
    <ion-card-content no-padding>
      <ion-row no-padding>
        <ion-col col-8><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-4 class="status-color"><p text-right class="status-text">Pending</p></ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col><p>Influencer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="dot-style">
        <ion-col border-right><p text-center>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>Update Order</p></ion-col>
        <ion-col><p>Cancel Order</p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content no-padding>
      <ion-row no-padding>
        <ion-col col-8><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-4 class="status-color"><p text-right class="status-text">Accepted</p></ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col><p>Influencer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="dot-style">
        <ion-col border-right><p text-center>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>Update Order</p></ion-col>
        <ion-col><p>Cancel Order</p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content no-padding>
      <ion-row no-padding>
        <ion-col col-8><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-4 class="status-color"><p text-right class="status-text">Started</p></ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col><p>Influencer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="dot-style">
        <ion-col border-right><p text-center>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p class="text-color">Update Order</p></ion-col>
        <ion-col><p class="text-color">Cancel Order</p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content no-padding>
      <ion-row no-padding>
        <ion-col col-8><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-4 class="status-color"><p text-right class="status-text">Done</p></ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col><p>Influencer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="dot-style">
        <ion-col border-right><p text-center>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>Update Order</p></ion-col>
        <ion-col><p class="text-color">Cancel Order</p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content no-padding>
      <ion-row no-padding>
        <ion-col col-8><p>Order <span text-right>  #3234567</span></p></ion-col>
        <ion-col col-4 class="status-color"><p text-right class="status-text">Rejected</p></ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col><p>Influencer Name</p></ion-col>
      </ion-row>
      <ion-row no-padding class="dot-style">
        <ion-col border-right><p text-center>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
        <ion-col border-right><p>Update Order</p></ion-col>
        <ion-col><p class="text-color">Cancel Order</p></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
    <!-- <div>
      <div>
        <ion-card class="card-style new">
          <ion-card-content no-padding>
            <ion-row no-padding border-bottom class="status">
              <div class="tr">
              </div>
              <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
              <ion-col col-6><p text-right class="status-text">New</p></ion-col>
            </ion-row>
            <ion-row no-padding border-bottom>
              <ion-col><p><ion-icon name="contact" item-start></ion-icon> Customer Name</p></ion-col>
              <ion-col><p class="rtl-left" text-right>Details  <ion-icon name="ios-information-circle-outline" item-start class="custom-icon-right"></ion-icon> </p></ion-col>
            </ion-row>
            <ion-row no-padding class="white">
              <ion-col border-right><p>Reject <ion-icon name="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
              <ion-col border-right><p>Accepted <ion-icon name="ios-checkmark-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </div>
    </div> -->

</ion-content>
