page-manage-customer-orders {

 // .status-color {
 //   background-color: aliceblue;
 // }
 //
 // .dot-style {
 //   border: none;
 //    border-top: 1px dotted #ccc;
 //    color: #fff;
 //    background-color: #fff;
 // }
 // .text-color {
 //   color: #ccc;
 // }

}
