page-reviews {
    ion-thumbnail img {
        border-radius: 50% !important;
        width: 60px !important;
        height: 60px !important;
    }

    ul {
        padding: 0px;

        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: $adlicgreen;

            ion-icon {
                font-size: 30px;
            }
        }
    }
.title
{
   color: #f4f4f4;
}
.item-custom-border
{
    border-bottom: 1px solid !important; 
}
}