<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'REVIEWS' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngFor="let item of currentItems">
        <ion-list no-lines padding-right padding-left>
            <ion-item >
                <ion-thumbnail item-start>
                    <img class="rounded-image" [src]="item.profilePic" />
                </ion-thumbnail>
                <h2>{{item.name}}</h2>
                <rating [(ngModel)]="item.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                    nullable="false" color="adlicgreen">
                </rating>
            </ion-item>
            <ion-item class="item-custom-border">
                <p text-wrap>
                    {{ 'ABOUTINFLUENCER' | translate }} {{item.about}}
                </p>
            </ion-item>
        </ion-list>
    </div>

</ion-content>