<!--
  Generated template for the MessagePopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="reason-width background-page">

<div padding>
  Sorry, the time is not suitable for me
</div>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col class="right-space" no-padding><button ion-button full color="AuthButton" (click)="close()" no-margin>
      <ion-label text-center>{{ 'SEND' | translate }}</ion-label></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
