page-manage-influencer-orders {
  .segment-tabs {
    &.segment-ios {
      .segment-button {
        border: 0 none;
        border-bottom: 1px solid #C2E21E;
        height: 40px;
        padding-top: 5px;
        color: #666;
        &.segment-activated {
          color: #000;
          background-color: #fff;
          border-bottom: 4px solid #C2E21E;
        }
      }
    }
    &.segment-md {
      .segment-button {
        border-bottom-width: 1px;
        &.segment-activated {
          border-bottom-width: 4px;
        }
      }
    }
  }
}
