<!--
  Generated template for the ManageInfluencerOrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="adlicmain">
        <ion-buttons start>
            <button ion-button icon-only (click)="openMenu()">
                <ion-icon name="menu" icon-right></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center><span ion-text color="light" class="title">{{ 'INFLUENCER_NAME' | translate }}</span> </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()">
                <ion-icon ios="ios-search" md="ios-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="order-cards">
  <ion-segment [(ngModel)]="selectedTab" class="segment-tabs">
      <ion-segment-button value="manage">
          {{ 'MANAGE' | translate }}
      </ion-segment-button>
      <ion-segment-button value="view">
          {{ 'VIEW' | translate }}
      </ion-segment-button>
  </ion-segment>
  <div class="padding-20"></div>
  <div [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'manage'">
      <ion-card class="card-style new">
        <ion-card-content no-padding>
          <ion-row no-padding border-bottom class="status">
            <div class="tr">
            </div>
            <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
            <ion-col col-6><p text-right class="status-text">New</p></ion-col>
          </ion-row>
          <ion-row no-padding border-bottom>
            <ion-col><p><ion-icon name="contact" item-start></ion-icon>  Customer Name</p></ion-col>
            <ion-col><p class="rtl-left" text-right>Details  <ion-icon name="ios-information-circle-outline" item-start class="custom-icon-right"></ion-icon> </p></ion-col>
          </ion-row>
          <ion-row no-padding class="white">
            <ion-col border-right><p>Reject <ion-icon name="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col border-right><p>Accepted <ion-icon name="ios-checkmark-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-style rejected">
        <ion-card-content no-padding>
          <ion-row no-padding border-bottom class="status">
            <div class="tr">
            </div>
            <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
            <ion-col col-6><p text-right class="status-text">Rejected</p></ion-col>
          </ion-row>
          <ion-row no-padding border-bottom>
            <ion-col><p><ion-icon name="contact" item-start></ion-icon>  Customer Name</p></ion-col>
            <ion-col><p class="rtl-left" text-right>Details  <ion-icon name="ios-information-circle-outline" item-start class="custom-icon-right"></ion-icon> </p></ion-col>
          </ion-row>
          <ion-row no-padding class="white">
            <ion-col border-right><p>Reject <ion-icon name="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col border-right><p>Accepted <ion-icon name="ios-checkmark-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'view'">
      <ion-card class="card-style pending">
        <ion-card-content no-padding>
          <ion-row no-padding border-bottom class="status">
            <div class="tr">
            </div>
            <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
            <ion-col col-6><p text-right class="status-text">Pending</p></ion-col>
          </ion-row>
          <ion-row no-padding border-bottom>
            <ion-col><p><ion-icon name="contact" item-start></ion-icon>  Customer Name</p></ion-col>
            <ion-col><p class="rtl-left" text-right>Details  <ion-icon name="ios-information-circle-outline" item-start class="custom-icon-right"></ion-icon> </p></ion-col>
          </ion-row>
          <ion-row no-padding class="white">
            <ion-col border-right><p>Reject <ion-icon name="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col border-right><p>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col><p>Start <ion-icon name="ios-checkmark-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-style accepted">
        <ion-card-content no-padding>
          <ion-row no-padding border-bottom class="status">
            <div class="tr"></div>
            <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
            <ion-col col-6><p text-right class="status-text">Accepted</p></ion-col>
          </ion-row>
          <ion-row no-padding border-bottom>
            <ion-col col-6><p><ion-icon name="contact" item-start></ion-icon>  Customer Name</p></ion-col>
            <ion-col col-6><p class="rtl-left" text-right>Details <ion-icon name="ios-information-circle-outline" item-start  class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
          <ion-row no-padding class="white">
            <ion-col border-right><p>Reject <ion-icon name="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col border-right><p>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col><p>Start <ion-icon name="ios-checkmark-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-style started">
        <ion-card-content no-padding>
          <ion-row no-padding border-bottom class="status">
            <div class="tr"></div>
            <ion-col col-6><p>Order <span text-right>  #3234567</span></p></ion-col>
            <ion-col col-6><p text-right class="status-text">Started</p></ion-col>
          </ion-row>
          <ion-row no-padding border-bottom>
            <ion-col col-6><p><ion-icon name="contact" item-start></ion-icon>  Customer Name</p></ion-col>
            <ion-col col-6><p class="rtl-left" text-right>Details <ion-icon name="ios-information-circle-outline" item-start  class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
          <ion-row no-padding class="white">
            <ion-col border-right><p>Reject <ion-icon name="ios-close-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col border-right><p>Chat <ion-icon name="ios-text-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
            <ion-col><p>Start <ion-icon name="ios-checkmark-circle-outline" item-start class="custom-icon-right"></ion-icon></p></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
