<ion-header padding class="custom-dark Greenline">
    <ion-navbar text-center>
        <img src="assets/img/logo/Logo.png" class="imgLogo" />
    </ion-navbar>
    <div class="padding-10"></div>
    <div class="custom-dark" text-center>
        {{ 'VERIFICATION' | translate }}
    </div>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item padding id="verificationText">
            <div text-center>
                {{ 'VERIFICATIONCODEMESSAGE' | translate }}
            </div>
        </ion-item>
        <div text-center padding>
            <img src="assets/img/misc/loader.gif" class="imgLoader" />
        </div>
        <ion-item padding>
            <ion-input type="number" text-center placeholder="{{ 'VERIFICATIONCODE' | translate }}"></ion-input>
        </ion-item>
        <div padding>
            <button ion-button block color="AuthButton" (click)="VerifyCode()">
                <ion-label text-center>{{ 'VERIFY' | translate }}</ion-label>
                <ion-icon ios="md-arrow-forward" md="md-arrow-forward" icon-end></ion-icon>
                </button>
        </div>
        <div padding>
            <button ion-button block [outline]="isOutline" color="{{resendColor}}" (click)="resendCode()">
                <ion-label text-center>{{ 'RESEND' | translate }}</ion-label>
                <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" icon-end></ion-icon>
            </button>
        </div>

    </ion-list>
</ion-content>