
<!-- </ion-header>
<ion-content padding>
    <ion-item class="titleInput" no-lines>
        {{ 'ENTERYOURATING' | translate }}
    </ion-item>

    <ion-item no-lines text-center>
        <rating readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" color="adlicgreen">
        </rating>
    </ion-item>

    <ion-item no-lines>
        <ion-textarea class="textarea-border" rows="10"></ion-textarea>
    </ion-item>
    <ion-grid no-lines>
        <ion-row no-lines>

            <ion-col col-6 text-center>
                <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'SEND' | translate }}</ion-label>

                </button>
            </ion-col>
            <ion-col col-6 text-center>
                <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'BACK' | translate }}</ion-label>

                </button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content> -->




<ion-content class="reason-width">

  <p text-left border-bottom class="reason-rating-p">{{ 'ENTERYOURATING' | translate }}</p>
  <rating no-margin readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" color="adlicgreen" text-center>
  </rating>
  <div padding no-margin>
    <ion-textarea class="reason-tarea" placeholder="Write a Review"></ion-textarea>
  </div>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col class="right-space" no-padding><button ion-button full color="AuthButton" (click)="goToSignup()" no-margin>
      <ion-label text-center>{{ 'SEND' | translate }}</ion-label></button></ion-col>
      <ion-col no-padding><button ion-button full color="AuthButton" (click)="goToSignup()" no-margin>
      <ion-label text-center>{{ 'BACK' | translate }}</ion-label></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
