<ion-header>
    <ion-navbar color="adlicmain">

        <ion-title text-center><span class="title">Name here</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="background-page">
    <div>
        <div class="bubble me">
            Awesome.
            <p class="chatTime">12:08 PM</p>
        </div>
        <div class="bubble you">
            Awesome.
            <p class="chatTime">12:08 PM</p>
        </div>
    </div>
    <div style="position: absolute;bottom: 0px;width: 100%;">
        <ion-icon name="md-arrow-round-back" style="position: absolute; top: 18px; right: 21px; z-index: 100;"></ion-icon>
        <ion-textarea type="text" placeholder="" aria-multiline="true" style="border-top:1px  solid #ccc;background-color: #fff;height: 50px;    padding-right: 35px;"></ion-textarea>
    </div>
</ion-content>