<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'MYORDER-CUSTOMER' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div padding>
        <button ion-button block color="AuthButton">
         <ion-label text-center >{{ 'COMPLETEORDER' | translate }}</ion-label>
         <ion-icon name="ios-checkmark-circle-outline" icon-end></ion-icon>
    </button>
    </div>
</ion-content>