<ion-header padding class="custom-dark Greenline">
    <ion-navbar text-center>
        <img src="assets/img/logo/Logo.png" class="imgLogo" />
    </ion-navbar>
    <div class="padding-10"></div>
    <div class="custom-dark" text-center>
        {{ 'REGISTERASINFLUENCER' | translate }}
    </div>
</ion-header>

<ion-content padding>


  <div class="">
  <ion-grid>
    <ion-row>
      <ion-col col-4><ion-label class="label-style">{{ 'INTERESTFIELD' | translate }}</ion-label></ion-col>
      <ion-col col-8>
        <div no-border="" ng-reflect-placeholder="+ Add Tag" ng-reflect-model="" class="ng-untouched ng-pristine ng-valid">
    <div class="ion-tags-input tit-border-color">
      <div class="iti-tags-wrap">
        <span class="iti-tag iti-tag-color  iti-tag-ios" *ngFor="let tag of tags; let i = index;">
          {{tag}}
          <a class="iti-tag-rm" (click)="removeTag(i)"></a>
       </span>
       <input *ngIf="add" id="tag-input" class="iti-input" [(ngModel)]="newTag" type="text" (keypress)="addTag($event)">
       <button (click)="enableInput()" class="add-button" color="adlicgreen" ion-button icon-only>
         <ion-icon name="md-add"></ion-icon>
       </button>
      </div>
    </div>
  </div>
      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-4 no-padding><ion-label class="label-style">{{ 'GENDER' | translate }}</ion-label></ion-col>
        <ion-col col-8 no-padding>
          <ion-list radio-group class="row" no-margin>
  <ion-item class="col" col-6 no-padding>
    <ion-label no-margin>{{ 'MALE' | translate }}</ion-label>
    <ion-radio checked="true" value="male"></ion-radio>
  </ion-item>

  <ion-item class="col" col-6 no-padding>
    <ion-label no-margin>{{ 'FEMALE' | translate }}</ion-label>
    <ion-radio value="female"></ion-radio>
  </ion-item>
</ion-list>
        </ion-col>
      </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-4><ion-label class="label-style">{{ 'NUMBEROFVIEWS' | translate }}</ion-label></ion-col>
          <ion-col col-8>
            <ion-row class="numbers">
              <ion-col col-3>
                <!-- <button ion-button color="light" outline><ion-icon name="remove"></ion-icon></button> -->
                <button ion-button icon-only>
                  <ion-icon name="remove"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-6 text-center no-padding>
                <ion-input type="text"></ion-input>
              </ion-col>
              <ion-col col-3>
                <button ion-button icon-only>
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
          <ion-row class="username">
            <ion-col col-4><ion-label class="label-style">{{ 'Snapchat Username' | translate }}</ion-label></ion-col>
            <ion-col col-8><ion-input type="text" value=""></ion-input></ion-col>
          </ion-row>
    </ion-grid>
    <button ion-button block color="AuthButton" (click)="goToVerfication()">
    <ion-label text-center>{{ 'Resend Code' | translate }}</ion-label>
    <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" icon-end></ion-icon>
    </button>
  </div>


</ion-content>
