page-signup-influencer {

.checkbox .checkbox-icon {
    margin: -5px;
    border-width: 4px;
    width: 25px;
    height: 25px;
}
ion-radio.radio {
  margin: 0px !important;
  border-radius: 20px;
  border: 3px solid #ccc;
}
ion-item.item-radio {
  border: 0 none !important;
  .item-inner {
    border: 0 none !important;
  }
  ion-label.label {
    color: #333 !important;
    font-weight: normal;
    font-size: 14px;
    padding-left: 7px;
  }
}
ion-radio .radio-icon {
width: 22px !important;
border-radius: 10px;
}
ion-radio .radio-icon.radio-checked {
  background: #C2E21E;
  z-index: 10000;
  opacity: 1;
  border: 1px solid #fff;
  height: 22px;
}
ion-radio .radio-icon .radio-inner {
  visibility: hidden;
}
.checkbox .checkbox-checked {
border-color: #e0e0e0;
background-color: #C2E21E;
}
.label-style {
  white-space: normal;
}
.ion-tags-input {
  border-bottom: 0 none;
  padding: 10px 0;
}
.ion-tags-input .iti-input {
  width: 60px;
  height: 26px;
  font-size: 14px;
  padding: 0px 0px 0px 5px;
  float: left;
  margin: 0 4px 0 0;
}
.ion-tags-input .iti-input::placeholder {
  color: #000;
}
.ion-tags-input {
  .add-button {
    width: 26px;
    height: 26px;
    display: inline;
    border-radius: 0;
    border: 1px solid #000;
    font-size: 10px;
    color: #000;
  }
}
.ion-tags-input .iti-tag {
  border-radius: 0px !important;
  background: #FFF;
  color: #333;
  border: 1px solid #ccc;
  font-size: 14px;
  display: block;
    float: left;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    max-height: 30px;
}
.ion-tags-input a.iti-tag-rm::before {
    content: " x";
    cursor: pointer;
    font-weight: bold;
    color: #000;
}
.numbers {
  .text-input {
    margin: 0px;
    border: 1px solid #ccc;
    padding: 11px;
    width: 100%;
  }
  .button {
    height: 1.6em;
    background: #C2E21E;
    color: #000;
    border-radius: 0px;
    border: 1px solid #000;
    ion-icon.icon {
      padding: 0 0.2em;
    }
  }
}
.username input.text-input {
  border: 1px solid #ccc;
  padding: 10px;
}



    .clearPadding_1 {
        line-height: 42px;
    }
    .clearPadding_2 {
        padding-left: 0px !important;
    }
    $transparent-white: rgba(255, 255, 255, .6);
    // This is just to make the header transparent and button/icon with white color
    // .toolbar-content,
    // span {
    //     //color: white;
    // }
    .toolbar-background,
    ion-navbar,
    ion-header {
        background: transparent !important;
        background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    // Footer
    ion-footer {
        height: 47px;
    }
    .footer {
        text-align: center;
        min-height: 47px;
    }
    .footer-md::before {
        border-top: 1px solid $transparent-white;
        background-image: none;
    }
    // Fullscreen animated rainbow gradient
    // ion-content {
    //     //background: linear-gradient(to right, #2A748F , #2A748F);
    //     //background-size: 1800% 1800%;
    // }
    // Content
    .logo {
        width: 40%;
        height: auto;
        margin: 0 auto;
        padding-top: 10px;
    }
    .padding-50 {
        padding-top: 50px;
    }
    .padding-10 {
        padding-top: 10px;
    }
    .padding-30 {
        padding: 30px;
    }
    .padding-20 {
        padding: 20px;
    }
    .visitorButton {
        border-color: #b7b7b7;
        color: #242711;
    }
    .imgLogo {
        width: 50%;
        height: 20%;
    }
    .Greenline {
        border-bottom: 5px solid #C2E21E;
    }
    .imgLoader {
        height: 150px !important;
    }
    ul {
        padding: 0px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: $adlicgreen;
            ion-icon {
                font-size: 50px;
            }
        }
        &.rating>ion-label {
            margin: 0px !important;
        }
    }
    .checkbox-label {
        display: inline !important;
    }
    .info-label {
        font-size: 14px !important;
    }
    .numofview-color {
        color: $adlicwhite;
    }
    ion-col {
        &[width-30] {
            flex: 0 0 30%;
            max-width: 30%;
        }
        &[width-70] {
            flex: 0 0 70%;
            max-width: 70%;
        }
    }
    .inputStyle {
        border: 1px solid #959595;
    }
}
