<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'FILTER' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <h4>{{ 'ORDERSTATUS' | translate }}</h4>
    </div>
    <ion-row>

        <!-- <ion-item padding id="registerAsInfluencer">
                <ion-label>{{ 'REGISTERASINFLUENCER' | translate }}</ion-label>
                <ion-checkbox checkbox-royal></ion-checkbox>
            </ion-item> -->
        <ion-item>
            <ion-label>{{ 'PENDING' | translate }}</ion-label>
            <ion-checkbox checkbox-royal checked="true"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'ACCEPTED' | translate }}</ion-label>
            <ion-checkbox checkbox-royal checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'STARTED' | translate }}</ion-label>
            <ion-checkbox checkbox-royal checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'DONE' | translate }}</ion-label>
            <ion-checkbox checkbox-royal checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'COMPLAINED' | translate }}</ion-label>
            <ion-checkbox checkbox-royal checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'REJECTED' | translate }}</ion-label>
            <ion-checkbox checkbox-royal checked="true"></ion-checkbox>
        </ion-item>
    </ion-row>
    <div padding-top>
        <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'APPLY' | translate }}</ion-label>
                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                </button>
    </div>
</ion-content>