<ion-header>
    <ion-navbar color="adlicmain">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center><span class="title">{{ 'RESULT' | translate }}</span></ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="group-list">
        <div class="list">
            <ion-row>
                <ion-col col-10>
                    {{ 'NUMBEROFVIEWER' | translate }}
                </ion-col>
                <ion-col col-2 text-center class="NumberOfViwer">
                    22 K
                </ion-col>
            </ion-row>
            <hr />
            <ion-row>
                <ion-col col-12>
                    {{ 'SCREENSHOTSVIDEOS' | translate }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-slides dir="{{dirLang}}">
                        <ion-slide>
                            <img class="rounded-image" src="https://ionicframework.com/docs/demos/src/slides/www/assets/slide2.jpeg" />
                        </ion-slide>
                        <ion-slide>
                            <img class="rounded-image" src="https://ionicframework.com/docs/demos/src/slides/www/assets/slide1.jpeg" />
                        </ion-slide>
                        <ion-slide>
                            <img class="rounded-image" src="https://ionicframework.com/docs/demos/src/slides/www/assets/slide5.jpeg" />
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
            <ion-row padding-top>
                <ion-col col-12>
                    {{ 'NOTE' | translate }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-textarea class="textAreaStyle"></ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <button ion-button block color="AuthButton" (click)="satisfied()">
                <ion-label text-center>{{ 'SATISFIED' | translate }}</ion-label>

                </button>
                </ion-col>
                <ion-col col-6 text-center class="NumberOfViwer">
                    <button ion-button block color="AuthButton" (click)="complain()">
                <ion-label text-center>{{ 'COMPLAIN' | translate }}</ion-label>

                </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div>

    </div>
</ion-content>
