<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'CONFIRMCAMPAIGN' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col class="ListHeader">
            Osama khodrog
        </ion-col>
    </ion-row>
    <ion-row class="table_1  sectionHeader">
        <ion-col>
            <ion-row style="line-height: 43px;">
                Service Title 2
            </ion-row>
        </ion-col>
        <ion-col>
            <ion-row style="line-height: 15px;">
                <ion-col></ion-col>
                <ion-col class="totalCost">Total Cost</ion-col>
                <ion-col style="line-height: 30px;">500 <sub>SR</sub></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="table_2">
        <ion-col col-8>
            <ion-row>
                <ion-col col-5>
                    <ion-row>
                        Add date
                    </ion-row>
                </ion-col>
                <ion-col col-7>
                    <ion-row>
                        23 May 2017
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-row>
                        Period Time
                    </ion-row>
                </ion-col>
                <ion-col col-7>
                    <ion-row>
                        2:00 PM - 4:00 AM
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-4 class="sec_1">
            <ion-row>
                <ion-col class="totalCost">Price</ion-col>
                <ion-col class="nowrap">500 <sub>SR</sub></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div style="height: 20px;clear: both;"></div>
    <ion-row>
        <ion-col class="ListHeader">
            Osama khodrog
        </ion-col>
    </ion-row>
    <ion-row class="table_1  sectionHeader">
        <ion-col>
            <ion-row style="line-height: 43px;">
                Service Title 2
            </ion-row>
        </ion-col>
        <ion-col>
            <ion-row style="line-height: 15px;">
                <ion-col></ion-col>
                <ion-col class="totalCost">Total Cost</ion-col>
                <ion-col style="line-height: 30px;">500 <sub>SR</sub></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>


    <ion-row class="table_2">
        <ion-col col-8>
            <ion-row>
                <ion-col col-5>
                    <ion-row>
                        Add date
                    </ion-row>
                </ion-col>
                <ion-col col-7>
                    <ion-row>
                        23 May 2017
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-row>
                        Period Time
                    </ion-row>
                </ion-col>
                <ion-col col-7>
                    <ion-row>
                        2:00 PM - 4:00 AM
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-4 class="sec_1">
            <ion-row>
                <ion-col class="totalCost">Price</ion-col>
                <ion-col class="nowrap">500 <sub>SR</sub></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div style="height: 5px;clear: both;"></div>
    <ion-row class="table_1  sectionHeader">
        <ion-col>
            <ion-row style="line-height: 43px;">
                Service Title 2
            </ion-row>
        </ion-col>
        <ion-col>
            <ion-row style="line-height: 15px;">
                <ion-col></ion-col>
                <ion-col class="totalCost">Total Cost</ion-col>
                <ion-col style="line-height: 30px;">500 <sub>SR</sub></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row class="table_2">
        <ion-col col-8>
            <ion-row>
                <ion-col col-5>
                    <ion-row>
                        Add date
                    </ion-row>
                </ion-col>
                <ion-col col-7>
                    <ion-row>
                        23 May 2017
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    <ion-row>
                        Period Time
                    </ion-row>
                </ion-col>
                <ion-col col-7>
                    <ion-row>
                        2:00 PM - 4:00 AM
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-4 class="sec_1">
            <ion-row>
                <ion-col class="totalCost">Price</ion-col>
                <ion-col class="nowrap">500 <sub>SR</sub></ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>