page-confirm-campaign {
    .ListHeader {
        background-color: #292f03;
        color: #fff;
    }
    .sectionHeader {
        background-color: #fbfbfb;
    }
    .totalCost {
        color: #8e8e8e;
        font-size: 12px;
    }
    .nowrap {
        white-space: nowrap;
        font-size: 12px;
    }
    .table_2 {
        border: 1px solid #ccc;
        border-top: 0px;
        font-size: 13px;
    }
    .table_1 {
        border: 1px solid #ccc;
        font-size: 13px;
    }
    .sec_1 {
        border-left: 1px solid #ccc;
        line-height: 38px;
    }
    .gridContantMain {
        @include ltr() {
            text-align: left;
        }
        @include rtl() {
            // Custom rtl style goes here
            text-align: right;
        }
        font-weight: 500;
        font-size: 15px;
        color: #292f03;
    }
    .gridContant {
        font-size: 13px;
        text-align: center;
        color: #292f03;
    }
    .gridContantPrice {
        font-size: 13px;
        text-align: center;
        color: #292f03;
        @include ltr() {
            text-align: right;
        }
        @include rtl() {
            // Custom rtl style goes here
            text-align: left;
        }
    }
    sub {
        font-size: 10px !important;
    }
}