<!--
  Generated template for the TestingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>testing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="openDeletePopup()" ion-button full>Delete Popup</button>
  <button (click)="openReasonPopup()" ion-button full>Reason Popup</button>
  <button (click)="openRatingPopup()" ion-button full>Rating Popup</button>
  <button (click)="openMessagePopup()" ion-button full>Message Popup</button>
  <button (click)="openDetailInformation()" ion-button full>Detail Information Popup</button>
  <button (click)="openReasonUnacceptPopup()" ion-button full>Reason Unaccept Popup</button>
</ion-content>
