<ion-header>
    <ion-navbar color="adlicmain">
        <ion-searchbar animated autocomplete="on" placeholder="{{ 'CHOOSEYOURCRITERIA' | translate }}" showCancelButton>
        </ion-searchbar>

    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list no-lines>
        <div padding>
            <button ion-button block color="adlicsearch" padding>
                    <ion-icon  name="md-funnel" icon-start></ion-icon>
                <ion-label text-center>{{ 'SEARCHPREFERENCES' | translate }}</ion-label>
                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" icon-end></ion-icon>
                </button>
        </div>
    </ion-list>
    <ion-card *ngFor="let item of currentItems">
        <ion-item>
            <ion-thumbnail item-start>
                <img class="rounded-image" [src]="item.profilePic" />
            </ion-thumbnail>
            <h2>{{item.name}}</h2>
            <p>
                {{ 'ABOUTINFLUENCER' | translate }} {{item.about}}
            </p>
            <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
            <rating [(ngModel)]="item.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                nullable="false">
            </rating>
        </ion-item>
    </ion-card>
    <!--<button ion-button full color="primary" large round="false" icon-left>
            <ion-icon name="star"></ion-icon>
            Outline + Full
        </button>-->

</ion-content>