choose-criteria {
    ion-thumbnail img {
        border-radius: 50% !important;
    }

    ul {
        padding: 0px;

        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: $adlicorange;

            ion-icon {
                font-size: 30px;
            }
        }
    }

}