<ion-header padding class="custom-dark Greenline">
    <ion-navbar text-center>
        <img src="assets/img/logo/Logo.png" class="imgLogo" />
    </ion-navbar>
    <div class="padding-10"></div>
    <div class="custom-dark" text-center>
        {{ 'VERIFICATION' | translate }}
    </div>
</ion-header>



<ion-content padding text-center>
    <div class="padding-30"></div>
    <div padding>
        <ion-icon color="AuthButton" class="big-icon" ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline"></ion-icon>
    </div>
    <div text-center padding>
        {{ 'VERIFICATIONCODESUCCESSMESSAGE' | translate }}
    </div>
    <div padding>
        <button ion-button block color="AuthButton" (click)="confirmNow()">
                <ion-label text-center>{{ 'COMPLETE' | translate }}</ion-label>
                <ion-icon ios="md-arrow-forward" md="md-arrow-forward" icon-end></ion-icon>
        </button>
    </div>
</ion-content>