page-after-verification {
    $transparent-white: rgba(255, 255, 255, .6);
    // This is just to make the header transparent and button/icon with white color
    // .toolbar-content,
    // span {
    //     //color: white;
    // }
    .toolbar-background,
    ion-navbar,
    ion-header {
        background: transparent !important;
        background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    // Footer
    ion-footer {
        height: 47px;
    }
    .footer {
        text-align: center;
        min-height: 47px;
    }
    .footer-md::before {
        border-top: 1px solid $transparent-white;
        background-image: none;
    }
    // Fullscreen animated rainbow gradient
    // ion-content {
    //     //background: linear-gradient(to right, #2A748F , #2A748F);
    //     //background-size: 1800% 1800%;
    // }
    // Content
    .logo {
        width: 40%;
        height: auto;
        margin: 0 auto;
        padding-top: 10px;
    }
    .padding-50 {
        padding-top: 50px;
    }
    .padding-10 {
        padding-top: 10px;
    }
    .padding-30 {
        padding: 30px;
    }
    .padding-20 {
        padding: 20px;
    }
    .visitorButton {
        border-color: #b7b7b7;
        color: #242711;
    }
    .custom-dark {
        background-color: #FBFBFB !important;
    }
    .imgLogo {
        width: 50%;
        height: 20%;
    }
    .Greenline {
        border-bottom: 5px solid #C2E21E;
    }

     .big-icon {
        font-size: 150px; //Preferred size here
    }
}