<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'MYLIST' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <ion-card class="services-header">
            <ion-card-header class="services-header-background">
                <ion-item class="item-header-background">
                    <span item-start>انس جابر</span>
                    <span item-end>900 {{ 'SR' | translate }}</span>
                </ion-item>
            </ion-card-header>
            <ion-list>
                <ion-item *ngFor="let item of currentItems" padding class="item-background">
                    <span item-start>{{item.serviceTitle}}</span>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-4>
                            </ion-col>
                            <ion-col col-4>
                                {{item.price}} {{ 'SR' | translate }}
                            </ion-col>
                            <ion-col col-4>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-icon name="ios-trash-outline" item-end (click)="deleteItem()"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card class="services-header">
            <ion-card-header class="services-header-background">
                <ion-item class="item-header-background">
                    <span item-start>اسامة خدرج</span>
                    <span item-end>500 {{ 'SR' | translate }}</span>
                </ion-item>
            </ion-card-header>
            <ion-list>
                <ion-item padding class="item-background">
                    <span item-start>خدمة سناب شات</span>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-4>
                            </ion-col>
                            <ion-col col-4>
                                500 {{ 'SR' | translate }}
                            </ion-col>
                            <ion-col col-4>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-icon name="ios-trash-outline" item-end (click)="deleteItem()"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
    <ion-card class="total-border">
        <ion-list>
            <ion-item padding>
                <strong item-start>{{ 'TOTAL' | translate }}</strong>
                <strong item-end>500 {{ 'SR' | translate }}</strong>
            </ion-item>

        </ion-list>
    </ion-card>
    <div padding>
        <button ion-button block color="AuthButton">
         <ion-label text-center >{{ 'COMPLETEORDER' | translate }}</ion-label>
         <ion-icon name="ios-checkmark-circle-outline" icon-end></ion-icon>
    </button>
    </div>
</ion-content>