my-list {
    .title {
        color: #f4f4f4;
    }
    .item-custom-border {
        border-bottom: 1px solid !important;
    }
    .item,
    .item-divider {
        border-color: red;
    }
    .services-header {
        border: 2px solid #b8b8b8 !important;
    }
    .services-header-background {
        background-color: #e7e7e7 !important;
        padding: 0px !important;
    }
    .item-header-background {
        background-color: #e7e7e7 !important;
    }
    .total-border {
        border: 3px solid $adlicgreen !important;
    }
    .item-background {
        border-bottom: 1px solid #b8b8b8;
    }
}

.alert-head {
    background-color: $adlictoogreen !important;
    color: $adlicwhite;
}

.alert-message {
    background-color: $adlictoogreen !important;
    color: $adlicwhite !important;
}

.alert-button .button-inner {
    color: $adlicblack1 !important;
}