page-detail-information {

  .label-style {
    white-space: normal;
    color: #8e8e8e;
    position: relative;
    overflow: hidden;
  }
  .right-line:after {
      position: absolute;
      top: 50%;
      overflow: hidden;
      width: 100%;
      height: 1px;
      content: '\a0';
      background-color: #ccc;
      margin-left: 5px;
  }
  ion-content.statusbar-padding {
    padding: 0 4px !important;
  }
  .date-color {
    margin: 0px -10px !important;
    color: black;
    ion-icon {
      font-size: 1.2em;
    }
    .datetime-text {
      font-size: 1em;
    }
  }
  button {
    margin: 0px !important;
  }
  textarea.text-input {
   min-height: 80px;
 }
 ion-header {
   border: 1px solid #FFF !important;
 }
 ion-footer {
   border-right: 1px solid #FFF !important;
   border-left: 1px solid #FFF !important;
 }
 .toolbar ion-title {
   padding: 0 10px 1px !important;
 }
}
