<!--
  Generated template for the DetailInformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="adlicmain">
    <ion-title ion-text color="light">Detail information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-row border-bottom>
      <ion-col col-6>
        <button ion-button icon-only start clear class="date-color">
          <ion-icon name="ios-calendar-outline"></ion-icon>
          <ion-datetime displayFormat="MMMM YYYY" min="2016" max="2020-10-31" [(ngModel)]="myDate" no-padding>
          </ion-datetime></button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-only start clear class="date-color">
            <ion-icon name="ios-clock-outline" ></ion-icon>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="myDate" no-padding>
            </ion-datetime></button>
          </ion-col>
        </ion-row>

    <ion-row border-bottom>
      <ion-col col-4>
        <label class="label-style" style="top: 10px;">From</label>
      </ion-col>
      <ion-col col-8>
        <ion-input type="text" value="" placeholder="Customer Name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <p class="label-style">content</p>
      <ion-textarea class="reason-tarea" ></ion-textarea>
  </ion-col>
</ion-row>
    <ion-row>
    <ion-col><ion-label class="label-style right-line padding-label" no-margin margin-vertical>{{ 'Photos & Videos' | translate }}</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/img/advance-card-bttf.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/img/advance-card-bttf.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/img/advance-card-bttf.png" alt="">
      </ion-col>
    </ion-row>
    <br>
    <!-- <div class="" no-padding>
      <button ion-button full color="AuthButton"> {{ 'Save' | translate }}</button>
    </div> -->



</ion-content>
<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col class="right-space" no-padding><button ion-button full color="AuthButton" (click)="close()" no-margin>
      <ion-label text-center>{{ 'SAVE' | translate }}</ion-label></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
