<ion-header>

  <ion-navbar color="adlicmain">
    <ion-title color="adlicwhite">{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3" okText = "{{ 'OK_BUTTON' | translate }}" cancelText = "{{ 'CANCEL_BUTTON' | translate }}">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="language" [(ngModel)]="currentLanguage" (ionChange)="onLanguageChange($event)"  okText = "{{ 'OK_BUTTON' | translate }}" cancelText = "{{ 'CANCEL_BUTTON' | translate }}">
          <ion-option value="en" checked="true">English</ion-option>
          <ion-option value="ar">العربية</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form> -->

<ion-list padding-horizontal class="settings-list">
  <ion-item no-padding>
    <span class="middle-title"> <ion-icon name="ios-notifications-outline"></ion-icon>  {{ 'Notifications' | translate }}</span>
    <ion-segment text-right [(ngModel)]="notification">
    <ion-segment-button value="on">
      On
    </ion-segment-button>
    <ion-segment-button value="off">
      Off
    </ion-segment-button>
  </ion-segment>
  </ion-item>

  <ion-item no-padding>
    <ion-icon name="ios-lock-outline"></ion-icon>  {{ 'Change Password' | translate }}
    <ion-icon name="arrow-forward" item-end></ion-icon>
  </ion-item>
</ion-list>


</ion-content>
