page-settings {

ion-segment {
    width: 100px;
    border: 2px solid gray;
    float: right;
}
ion-segment-button {
  border-radius: 0px !important;
}
.segment .segment-button.segment-activated {
  color: #c2e21e;
  border-color: #FFF;
}
.settings-list {
  ion-item {
    .item-inner {
      padding: 4px !important;
      .middle-title {
        position: relative;
        top: 7px;
      }
      ion-label {
        margin: 11px 0px 11px 0;
      }
    }
  }
}
}
