// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
$app-direction: multi;
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$text-color: #000;
$background-color: #fff;
$list-md-border-color: #b6b6b6;
$item-ios-divider-color: #b6b6b6;
//input
$text-input-ios-highlight-color:#C2E21E;
//Checkbox
$checkbox-ios-background-color-on: #C2E21E;
$checkbox-ios-icon-border-color-on: transparent;
$checkbox-ios-icon-checkmark-color: #000;
$checkbox-md-icon-background-color-on:#C2E21E;
$checkbox-md-icon-border-color-on:#ccc;
$checkbox-md-icon-border-color-off:#ccc;
$checkbox-md-icon-checkmark-color: #000;
//segment control
$segment-button-md-border-bottom-width: 5px;
$segment-button-ios-background-color-activated:#C2E21E;
$segment-button-ios-text-color:#333;
$segment-button-md-border-color-activated:#C2E21E;
$segment-button-md-text-color-activated:#1E2206;
//search bar
$searchbar-ios-background-color: #1E2206;
$searchbar-ios-border-color: #1E2206;
$searchbar-ios-input-search-icon-color :#C2E21E;
$searchbar-ios-input-placeholder-color:#E7E7E7;
$searchbar-ios-input-text-color: white;
$searchbar-ios-input-background-color: #1E2206;
$searchbar-ios-input-clear-icon-color: #C2E21E;
$searchbar-md-background-color: #1E2206;
$searchbar-md-input-search-icon-color:#C2E21E;
$searchbar-md-input-placeholder-color: #E7E7E7;
$searchbar-md-input-text-color: white;
$searchbar-md-input-background-color:#1E2206;
$searchbar-md-input-clear-icon-color: #C2E21E;
//action sheet
$action-sheet-ios-button-text-color: #000;
//on focus
$alert-md-input-border-color-focused:transparent;
$focus-outline-border-color:transparent;
$label-md-text-color-focused:transparent;
.searchbar-has-focus {
    color: #C2E21E;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$primary:#488aff;
$adlicorange:#bdd75a;
$adlicblack1: #000;
$adlicgreen:#C2E21E;
$adlictoogreen:#1E2206;
$adlicwhite:white;
$colors: (transparent:( base:transparent, contrast: #C2E21E), primary: #488aff, adlicblackmain:#000, adlicgreen:#C2E21E, adlicsearch: #E7E7E7, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, swhite: white, adlic:#242711, AuthButton:( base:#C2E21E, contrast: #242711), adlicblack:( base:#C2E21E, contrast: #000), adlicmain:( base:#1E2206, contrast: #C2E21E), adlicwhite:( base:#1E2206, contrast: white));
// ------------ Custom css ----------------
html[dir="rtl"] .alert-tappable {
    text-align: right;
}

html[dir="rtl"] .alert-md .alert-radio-icon {
    left: 0px;
    right: 13px;
}

[dir="rtl"] ion-menu[side=right]>.menu-inner {
    left: auto !important;
}

.PaddingBuottmButton {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 60px !important;
}

.list-ios>.item-block:first-child {
    border-top: 0px transparent !important;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";