// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// Sidemenu with avatar
#viewsMenu {
    .user-avatar {
        padding: .5em;
    }
    h4 {
        color: white;
        font-weight: bold;
    }
    .label {
        color: #000;
        font-weight: bold;
    }
    .menu-header
    {
        background-color: #242711 !important;
        border-bottom: 1px solid;
    }
    .menu-items
    {
        background-color: white !important;
    }
    .item {
        background: transparent;
    }

    .menu-inner {
        background: rgba(255, 255, 255, .3);
    }
    .round {
        border-radius: 50%;
    }
}

.activePageHighlight {
    background-color: #C2E21E !important;
}

/* Common utility css */
ion-app [border-bottom] {
  border-bottom: 1px solid #e0e0e0;
}
ion-app [border-right] {
  border-right: 1px solid #e0e0e0;
}
ion-app [border] {
  border: 1px solid #ccc;
}
ion-app [no-border] {
  border: 0 none !important;
  .item-inner {
    border: 0 none !important;
  }
}
[dir="rtl"] [text-left] {
    text-align: right !important;
}
// ion-app [color] {
//   color: #ccc;
// }
ion-col.label-style.col{
  padding: 10px 0px;
}

// .tabs .tabbar {
//   background: #ffffff;
// }
// .tabs .tab-button[aria-selected=true] {
//   color: #363824;
//   border-bottom: 2px solid #C2E21E;
// }
// .tabs[tabsPlacement=top] .tabbar {
//   border-top: 0;
//   border-bottom: 1px solid #C2E21E;
// }

/* Order cards language css */
[dir="rtl"] {
  .tr {
    left: 0;
    border-right: 15px solid transparent;
    }
    .status-text {
      text-align: left !important;
    }
    [border-right] {
      border-left: 1px solid #ccc !important;
      border-right: 0 none !important;
    }
    .custom-icon-right {
      float: left !important;
      padding: 0 5px 0 0 !important;
    }
    .rtl-left {
      float: left !important;
    }
}
[dir="ltr"] {
  .tr {
    right: 0;
    border-left: 15px solid transparent;

  }
}

/* Order Box Styles */
.order-cards {
  p {
    color: #000;
  }
  .card {
    .card-content {
      background-color: #fbfbfb;
      .row {
        position: relative;
        background-color: #fbfbfb;
        .tr {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
        }
        ion-icon {
          font-size: 1.5em;
          vertical-align: bottom;
        }
        .col {
          padding: 8px;
          .custom-icon-right {
            float: right;
            font-size: 1.5em;
            padding: 0 0 0 5px;
          }
          .status-text {
            padding: 0 2px 0 0;
          }
        }
        &.white {
          background: #FFF;
        }
      }
    }
  }
}

/* Order cards color change based on status */
.pending {
  ion-card-content {
    background: #666 !important;
    .tr {
      border-top: 15px solid #666;
    }
    .status-text {
      color: #666;
    }
  }
}

.started {
  ion-card-content {
    background: #ffae3f !important;
    .tr {
      border-top: 15px solid #ffae3f;
    }
    .status-text {
      color: #ffae3f;
    }
  }
}
.new {
  ion-card-content {
    background: #00aff7 !important;
    .tr {
      border-top: 15px solid #00aff7;
    }
    .status-text {
      color: #00aff7;
    }
  }
}
.rejected {
  ion-card-content {
    background: #ce1623 !important;
    .tr {
      border-top: 15px solid #ce1623;
    }
    .status-text {
      color: #ce1623;
    }
  }
}
.accepted {
  ion-card-content {
    background: #00ae00 !important;
    .tr {
      border-top: 15px solid green;
    }
    .status-text {
      color: green;
    }
  }
}
.done {
  ion-card-content {
    background: #c2e21e !important;
    .tr {
      border-top: 15px solid #c2e21e;
    }
    .status-text {
      color: #c2e21e; 
    }
  }
}



.toolbar-background.toolbar-background {
    border-style: none;
}

ion-modal {
  @media (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;
  .modal-wrapper {
    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
    }

    z-index: $z-index-overlay-wrapper;
    display: flex;
    overflow: hidden;

    flex-direction: column;

    min-width: $alert-min-width;
    max-height: $alert-max-height;

    opacity: 0;

    height: auto;
    max-width: $alert-md-max-width;
    border-radius: $alert-md-border-radius;
    background-color: $alert-md-background-color;
    box-shadow: $alert-md-box-shadow;

    .ion-page .content {
      background-color: color($colors, light);
    }
  }
}


//content box textarea//

.reason-tarea {
    border: 1px solid #ccc;
    height: 100px;
    padding: 0 10px !important;
}

//Main Title color
ion-header {
  .toolbar {
    .toolbar-title {
      color: color($colors, light) !important;
    }
  }
}
