
<!-- <ion-content no-padding>
    <span class="titleInput" no-lines>
        {{ 'ENTERYOURREASON' | translate }}
    </span>
    <span no-lines>
        <ion-textarea class="textarea-border" rows="10"></ion-textarea>
    </span> -->
    <!-- <ion-grid no-lines>
        <ion-row no-lines>

            <ion-col col-6 text-center>
                <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'SEND' | translate }}</ion-label>

                </button>
            </ion-col>
            <ion-col col-6 text-center>
                <button ion-button block color="AuthButton" (click)="goToSignup()">
                <ion-label text-center>{{ 'BACK' | translate }}</ion-label>

                </button>
            </ion-col>
        </ion-row>

    </ion-grid> -->

<ion-content class="reason-width">


  <div padding>
    <p text-left class="reason-rating-p">{{ 'ENTERYOURATING' | translate }}</p>
  <ion-textarea class="reason-tarea"></ion-textarea>
  </div>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col class="right-space" no-padding><button ion-button full color="AuthButton" (click)="goToSignup()" no-margin>
      <ion-label text-center>{{ 'SEND' | translate }}</ion-label></button></ion-col>
      <ion-col no-padding><button ion-button full color="AuthButton" (click)="goToSignup()" no-margin>
      <ion-label text-center>{{ 'BACK' | translate }}</ion-label></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
