page-reason-popup {

  .reason-width {
    width: 263px;
  }
  .reason-tarea {
      border: 1px solid #ccc;
      height: 100px;
      padding-left: 10px;
  }
   textarea.text-input {
    min-height: 80px;
  }
  .right-space {
    border-right: 1px solid #fff;
  }
  .reason-rating-p {
    margin: 0px;
    padding: 0 0 6px 0;
  }



    .title {
        color: #f4f4f4;
    }
    .item-custom-border {
        border-bottom: 1px solid !important;
    }
    .textarea-border {
        border: 1px solid #cfcfcf !important;
    }
    .item-withoutlines {
        border-bottom: transparent !important;
    }
    .clearPadding_1 {
        padding-right: 0px !important;
    }
    .clearPadding_2 {
        padding-left: 0px !important;
    }
    .textAreaStyle {
        border: 1px solid #ccc;
        height: 100px;
    }
    .textarea-border {
        border: 1px solid #cfcfcf !important;
    }
    .titleInput {
        height: 25px;
        color: #000;
    }
}

.item-input-has-focus {
    border-bottom: transparent !important;
}

[dir="rtl"] .right-space {
border-left: 1px solid #fff !important;
border-right: 0 none !important;
}
