<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'CHATS' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card (click)="goToChat()">
        <ion-row>
            <ion-col col-3>
                <ion-avatar item-start>
                    <img class="rounded-image" style="width: 60px;" src="https://maxcdn.icons8.com/Share/icon/Users//circled_user_female1600.png" />
                </ion-avatar>
            </ion-col>
            <ion-col col-6 style="padding-top: 12px;">
                <h2>Name Here </h2>
                <p>Good morning</p>
            </ion-col>
            <ion-col col-3 style="padding-top: 12px;">
                <p style="text-align: left;">12:08 PM</p>
                <p style="text-align: left">
                    <ion-badge> 1</ion-badge>
                </p>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>