page-chat-list {
    $badge-ios-border-radius: 5px;
    $badge-ios-background-color: #ff0000;
    $badge-ios-text-color: #fff;
    $badge-md-border-radius: 5px;
    $badge-md-background-color: #ff0000;
    $badge-md-text-color: #fff;
    ion-thumbnail img {
        border-radius: 50% !important;
    }
    ul {
        padding: 0px;
    }
    .title {
        color: #f4f4f4;
    }
    .card-md {
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid #ccc;
    }
}