<ion-content padding class="transparent-header">
    <ion-header>
        <ion-navbar>
            Logo Here
        </ion-navbar>
    </ion-header>




    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <div padding>
                    <ion-item>
                        <ion-input type="text" placeholder="{{ 'MOBILENUMBER' | translate }}"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
                    </ion-item>
                    <button ion-button block outline (click)="login()" color="light" class="login-button">{{ 'LOGIN' | translate }}</button>
                    <button ion-button block outline (click)="loginAsVisitor()" color="light" class="login-button">{{ 'VISITOR' | translate }}</button>
                    <div (click)="goToForgetPassword()" padding-top padding-left>
                        <span>{{ 'ISFORGETPASSWORD' | translate }}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar class="footer">
        <div (click)="goToSignup()">
            <span>{{ 'ISHAVEADLICACCOUNT' | translate }} <strong>{{ 'REGISTERHERE' | translate }}</strong></span>
        </div>
    </ion-toolbar>
</ion-footer>