<ion-header>

    <ion-navbar color="primary">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>{{ 'CHOOSEINFLUENCERS' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()">
         <ion-icon name="options"></ion-icon>
      </button>
            <button ion-button icon-only (click)="addItem()">
         <ion-icon name="list-box"></ion-icon>
      </button>

        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="primary">
        <ion-searchbar placeholder="{{ 'SEARCHFORINFLUENCERS' | translate }}">
        </ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of currentItems">
            <ion-thumbnail item-start>
                <img class="rounded-image" [src]="item.profilePic" />
            </ion-thumbnail>
            <h2>{{item.name}}</h2>
            <rating [(ngModel)]="item.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
            </rating>
            <p>
                {{ 'ABOUTINFLUENCER' | translate }} {{item.about}}
            </p>
            <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
            <ion-icon name="information-circle" item-right (click)="openItem(item)" color="primary"></ion-icon>

        </ion-item>
    </ion-list>
</ion-content>