content-ads {

 .date-time-border {
   border: 1px solid #ccc;
 }
 // .label-style {
 //   white-space: normal;
 //   color: #8e8e8e;
 //   position: relative;
 //   overflow: hidden;
 // }
 .right-line:after {
     position: absolute;
     top: 50%;
     overflow: hidden;
     width: 75%;
     height: 1px;
     content: '\a0';
     background-color: #ccc;
     margin-left: 5px;
 }
 button {
   border-radius: 0px !important;
 }
 .date-box {
    margin-top: -8px !important;
    color: black !important;
    width: 100%;
 }
 .date-padding {
    position: absolute;
    left: 16px;
 }
 .date-icon-right {
    position: absolute;
    right: 16px;
 }
 textarea.text-input {
  min-height: 80px;
}
//  .datetime {
//    padding: 0px 0px 6px 0px !important;
// }


    .title {
        color: #f4f4f4;
    }
    .item-custom-border {
        border-bottom: 1px solid !important;
    }
    .textarea-border {
        border: 1px solid #cfcfcf !important;
    }
    .item-withoutlines {
        border-bottom: transparent !important;
    }
    .clearPadding_1 {
        padding-right: 0px !important;
    }
    .clearPadding_2 {
        padding-left: 0px !important;
    }
}

.item-input-has-focus {
    border-bottom: transparent !important;
}
