<ion-header>
    <ion-navbar color="adlicmain">
        <ion-title text-center><span class="title">{{ 'CONTENTADS' | translate }}</span> </ion-title>
    </ion-navbar>
</ion-header>
<!-- <ion-content padding>
    <div>
        <ion-grid>
            <ion-row>
                <ion-textarea class="textarea-border" placeholder="{{ 'THECONTENT' | translate }}" rows="6"></ion-textarea>
            </ion-row>
            <ion-row>
                <ion-col col-6 class="clearPadding_1">
                    <button ion-button icon-end item-start full color="AuthButton"> {{ 'IMAGES' | translate }}
                          <ion-icon name="images"></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-6 class="clearPadding_2">
                    <button ion-button icon-end item-end full color="AuthButton"> {{ 'VIDEO' | translate }}
                        <ion-icon name="videocam"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <div padding></div>

    <div>
        <div>

            {{ 'FIRSTSHOW' | translate }}
        </div>
        <ion-grid>
            <ion-row>
                <ion-col col-3 class="clearPadding_1" style="line-height: 40px;">
                    <label>{{ 'ADDATE' | translate }}</label>
                </ion-col>
                <ion-col col-9 class="clearPadding_2">
                    <ion-input type="date" placeholder="July 16  , 2017" style="border: 1px solid #ccc;"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 class="clearPadding_1" style="line-height: 40px;">
                    <label>{{ 'PERIODTIME' | translate }}</label>
                </ion-col>
                <ion-col col-9 class="clearPadding_2">
                    <ion-input type="time" placeholder="July 16  , 2017" style="border: 1px solid #ccc;"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div>
        <hr />
    </div>
    <div>

        <button ion-button block outline color="dark" (click)="loginAsVisitor()">
            <ion-label text-center> {{ 'ADDANOTHERDAY' | translate }}</ion-label>
            <ion-icon name="add"></ion-icon>
        </button>
    </div>
    <div>

        <button ion-button block outline color="dark" style="border: 2px solid #c2e21e">
            <ion-label text-center> {{ 'COUNTER' | translate }}</ion-label>
           5000 <sub>SR</sub>
        </button>
    </div>
    <div>
        <button ion-button icon-end item-end full color="AuthButton"> {{ 'SUBMIT' | translate }}
                          <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" ></ion-icon>

                    </button>
    </div>
</ion-content> -->



<ion-content>
  <ion-content padding>
    <div no-margin>
      <ion-textarea class="reason-tarea" placeholder="The content"></ion-textarea>
    </div>
    <br>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <ion-buttons end>
            <button ion-button icon-right block color="AuthButton">
                {{ 'IMAGES' | translate }}
                <ion-icon name="images"></ion-icon>
            </button>
          </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons end>
            <button ion-button icon-right block color="AuthButton">
                {{ 'VIDEO' | translate }}
                <ion-icon name="videocam"></ion-icon>
            </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid border-bottom>
        <ion-row>
        <ion-col><ion-label class="label-style right-line padding-label" no-margin margin-vertical>{{ 'FIRSTSHOW' | translate }}</ion-label></ion-col>
        </ion-row>
         <br>
         <ion-row>
            <ion-col col-4><label>{{ 'ADDATE' | translate }}</label></ion-col>
            <ion-col col-8 no-padding>
              <button ion-button icon-right clear class="date-box" border>
              <ion-datetime class="date-padding" displayFormat="MMMM YYYY" min="2016" max="2020-10-31" [(ngModel)]="myDate" no-padding>
              </ion-datetime>
              <ion-icon name="ios-calendar-outline" class="date-icon-right"></ion-icon>
            </button></ion-col>
        </ion-row>
        <br>
        <ion-row>
           <ion-col col-4><label>{{ 'PERIODTIME' | translate }}</label></ion-col>
           <ion-col col-8 no-padding><button ion-button icon-right clear class="date-box" border>
             <ion-datetime class="date-padding" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="myDate" no-padding>
             </ion-datetime>
             <ion-icon name="ios-clock-outline" class="date-icon-right"></ion-icon>
           </button></ion-col>
       </ion-row>
     </ion-grid>
  <hr />
  <button ion-button block outline color="dark" (click)="loginAsVisitor()" border>
      <ion-label text-left> {{ 'ADDANOTHERDAY' | translate }}</ion-label>
      <ion-icon name="add"></ion-icon>
  </button>
<br>
<br>
  <button ion-button block outline color="dark" style="border: 2px solid #c2e21e">
      <ion-label text-left> {{ 'COUNTER' | translate }}</ion-label>
     5000 <span>SR</span>
  </button>
<br>

    <button ion-button block color="AuthButton">
    <ion-label text-center >{{ 'SUBMIT' | translate }}</ion-label>
    <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" icon-end></ion-icon>
    </button>



</ion-content>
