<ion-header padding class="custom-dark Greenline">
  <ion-navbar text-center>
    <img src="assets/img/logo/Logo.png" class="imgLogo" />
  </ion-navbar>
  <div class="padding-10"></div>
  <div class="custom-dark" text-center>
    {{ 'ISFORGETPASSWORD' | translate }}
  </div>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item padding id="forgetPasswordText">
      <div text-center>
        {{ 'FORGETPASSWORDTEXT' | translate }}
      </div>
    </ion-item>
    <ion-item padding>
      <ion-input type="number" placeholder="{{ 'MOBILENUMBER' | translate }}"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block color="AuthButton" (click)="sendPassword()">
                <ion-label text-center>{{ 'OKTEXT' | translate }}</ion-label>
                <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline" icon-end></ion-icon>
        </button>
    </div>
  </ion-list>
</ion-content>