page-reason-unaccept-popup {
  .reason-width {
    width: 263px;
  }
  .reason-tarea {
      border: 1px solid #ccc;
      height: 100px;
      padding-left: 10px;
  }
   textarea.text-input {
    min-height: 80px;
  }
  .right-space {
    border-right: 1px solid #fff;
  }
  .reason-rating-p {
    margin: 0px;
    padding: 0 0 6px 0;
  }
}
