<!--
  Generated template for the ReasonUnacceptPopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="reason-width">


  <div padding>
    <p text-left class="reason-rating-p">{{ 'REASON' | translate }}</p>
  <ion-textarea class="reason-tarea"></ion-textarea>
  </div>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-row no-padding>
      <ion-col class="right-space" no-padding><button ion-button full color="AuthButton" (click)="goToSignup()" no-margin>
      <ion-label text-center>{{ 'RESTART' | translate }}</ion-label></button></ion-col>
      <ion-col no-padding><button ion-button full color="AuthButton" (click)="goToSignup()" no-margin>
      <ion-label text-center>{{ 'UNACCEPT' | translate }}</ion-label></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
