<ion-header>
    <ion-navbar color="adlicmain">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center><span class="title">{{ 'INFLUENCERPROFILEEDIT' | translate }}</span></ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="page-background">
        <ion-list no-lines>
            <ion-item id="profile-bg">
                <ion-row>
                    <ion-col class="center">
                        <ion-thumbnail item-start>
                            <img class="rounded-image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
                        </ion-thumbnail>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center>
                        <h2>Osama khodrog</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
    <div class="group-list">
        <div class="list">
            <div class="item item-divider">
                {{ 'MYACCOUNT' | translate }}
            </div>
            <div class="item">
                <ion-list>
                    <ion-item>
                        <ion-input type="text" placeholder="{{ 'SNAPSHATUSERNAME' | translate }}"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-select class="SelectGender" type="number" placeholder="{{ 'GENDER' | translate }}">
                            <ion-option value="1">{{ 'MALE' | translate }}</ion-option>
                            <ion-option value="0">{{ 'FEMALE' | translate }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-tags-input [(ngModel)]="tags" placeholder="{{ 'INTERESTFIELD' | translate }}" (onChange)="onChange($event)"></ion-tags-input>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-input type="number " placeholder="{{ 'NUMBEROFVIEWS' | translate }} "></ion-input>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-input type="number " placeholder="{{ 'PHONENUMBER' | translate }} "></ion-input>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
    <div padding>
        <button ion-button block color="AuthButton" (click)="goToSignup() ">
                <ion-label text-center>{{ 'SAVE' | translate }}</ion-label>
                
                </button>
    </div>
</ion-content>