<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="{{ 'FIRSTNAME' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="{{ 'MOBILENUMBER' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="{{ 'CONFIRMPASSWORD' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'REGISTERASINFLUENCER' | translate }}</ion-label>
            <ion-checkbox color="dark" [(ngModel)] = "isInfluencer"></ion-checkbox>
          </ion-item>
          <button ion-button block outline (click)="signUp()" color="primary" class="login-button">{{ 'SIGNUP' | translate }}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="goToLogin()">
      <span><strong>{{ 'LOGIN' | translate }}</strong></span>
    </div>
  </ion-toolbar>
</ion-footer>