<ion-content class="background-page">
  <ion-header no-border>
    <ion-navbar color="transparent">
    </ion-navbar>
  </ion-header>
  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info">
      <p id="profile-name" color="white">Anas Jaber</p>
      <img id="profile-image" src="assets/img/avatar/girl-avatar.png">

    </div>
  </div>

  <ion-list no-lines>
    <div *ngIf="currentUserType == 1">
      <button class="menu-line" [class.activePageHighlight]="checkActive(p.index)" menuClose ion-item detail-none *ngFor="let p of visitorPages"
        (click)="openPage(p)">
          <ion-icon [name]="p.icon" color="adlicblackmain" item-left></ion-icon>
        {{p.title}}
        <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
        </button>
    </div>
    <div *ngIf="currentUserType == 2">
      <button class="menu-line" [class.activePageHighlight]="checkActive(p.index)" menuClose ion-item detail-none *ngFor="let p of clientPages"
        (click)="openPage(p)">
          <ion-icon [name]="p.icon" color="adlicblackmain" item-left></ion-icon>
        {{p.title}}
        <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
        </button>
    </div>
    <div *ngIf="currentUserType == 3">
      <button class="menu-line" [class.activePageHighlight]="checkActive(p.index)" menuClose ion-item detail-none *ngFor="let p of influencerPages"
        (click)="openPage(p)">
          <ion-icon [name]="p.icon" color="adlicblackmain" item-left></ion-icon>
        {{p.title}}
        <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
        </button>
    </div>
  </ion-list>
  <div padding>
    <button ion-button icon-left full (click)="switchAccount()" color="AuthButton">
                    <ion-icon name="ios-sync"></ion-icon>
                    <span *ngIf="currentUserType == 1 || currentUserType == 3"> {{ 'SWITCHTOCUSTOMER' | translate }} </span>
                    <span *ngIf="currentUserType == 2"> {{ 'SWITCHTOINFLUENCER' | translate }} </span>
                </button>
  </div>
</ion-content>