page-menu {
    .background-page{
background: linear-gradient(to bottom,  #fff 0%, #fff 100%);
    }
 ion-content {
    background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
  }
  button,
  ion-button,
  .button-md,
  .button-ios {
    text-transform: none !important;
  }
  p {
    color: #444;
  }
  // Cover image
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 0px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1E2206;
    text-align: center;
    border-bottom:5px solid $adlicgreen !important;
  }
  // Profile content
  #content {
    position: relative;
    margin-top: 165px;
    padding-top: 25px;
    text-align: center;
  }
  #profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 120px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
    border:3px solid #bababa !important;
  }
  #profile-info {
    position: absolute;
    top: -170px;
    width: 100%;
    z-index: 1;
    text-align: center;
  }
  #profile-name {
    color: white;
    font-size: 20px;
  }
  hr {
    border: 0;
    height: 1px;
    background: #444;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
  }
  // Posts feed
  #posts {
    text-align: justify;
  }
.title
{
   color: #f4f4f4;
}

.menu-line
{
border-bottom: 1px solid #b6b6b6 !important;
}

}
